<!-- Add Expense Modal Budget -->
    <div class="modal fade" id="AddNewModal" tabindex="-1" role="dialog" aria-labelledby="AddNewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="AddNewModalLabel">Create Expense</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form action="{{ url_for('routes.create_expense', continue_flag=continue_flag) }}" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.group.label }}<br>
                {{ form.group }}<br>
                {% for error in form.group.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.expense.label }}<br>
                {{ form.expense }}<br>
                {% for error in form.expense.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.amount.label }}<br>
                {{ form.amount }}<br>
                {% for error in form.amount.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <br>
                {{ form.nxtlst_select }}
                <br>
                {% for error in form.nxtlst_select.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.last_paid(type="date") }}
                {% for error in form.last_paid.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <label class="mr-sm-2" for="inlineFormCustomSelect">{{ form.cycle.label }}</label>
                <br>
                {{ form.cycle }}
                <br>
                {% for error in form.cycle.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            
            <p>{{ form.submit(hidden='true', id='form-submit') }}</p>
        </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
        <button type="submit" class="btn btn-primary" id="modal-create">Add Expense</button>
        </div>
    </div>
    </div>
</div>
<script>

    $('#modal-create').click(function(){
        // Perform the action after modal confirm button is clicked.
    
        $('#form-submit').click(); // submitting the form
    }); 
</script>
{% if form.errors %}
<script>
$('#AddNewModal').modal('show');

</script>

{% endif %}
