<!-- Pay Day Modal -->
<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="payModalLabel">Pay Day</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        
        </div>
        <div class="modal-footer">
            <form action="{{ url_for('routes.pay_day') }}" method="post">
               <button type="submit" class="btn btn-primary" id="modal-paid", value="payday">Start New Pay Week</button> 
            </form>
            <form action="{{ url_for('routes.cancel_pay') }}" method="post">
                <button type="submit" class="btn btn-primary" id="modal-cancel", value="cancel">Reverse Previous Pay Week</button> 
             </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
        
        </div>
    </div>
    </div>
</div>
<script>
    $('#modal-paid').click(function(){
        // Perform the action after modal button is clicked.
    
        $('#form-submit').click(); // submitting the form
    });
    $('#modal-cancel').click(function(){
        // Perform the action after modal button is clicked.
    
        $('#form-submit').click(); // submitting the form
    });
</script>
{% if form.errors %}
<script>
$('#payModal').modal('show');

</script>

{% endif %}
